div{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    width: 500px;
    margin-left: 100px;
    margin-top: 160px;
    padding-top: 10px;
}
form{
    margin-top: 10px;
    margin-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
label{
    color: #fff;
    margin-top: 30px;
    margin-left: 20px;
    font: bold;
    font-style:italic;
}
input{
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 25px;
    font-style: normal;
    border-radius: 10px;
    text-align:left;
    text-size-adjust:inherit ;    
    font-weight:bold;
    border-style:dashed;
}
div.form1{
    padding-bottom: 70px;
}
div.form2{
    margin-top: -350px;
    margin-left: 700px;
    padding-bottom: 33px;
       
}
input.button{
    background-color: limegreen;
    width: 80px;
    color: #000;
    font-size: 13px;
    font:bolder;
    text-align:center;
    bottom: 10px;
    border-style: none;
    
}
